# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build directories
/build
/dist
/out
/.next
/frontend/build
/frontend/dist
/backend/build
/backend/dist

# Cache directories
.cache/
.npm/
.eslintcache
.parcel-cache

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Export files
/backend/exports/
*.csv
*.pdf
*.xlsx
